In [183]:
import random as rd
import pandas as pd
import math
import numpy as np

In [184]:
rd.seed("АДВИ_2023")

Формирование списков в DataFrame:

In [185]:
nlist = list(i for i in range(1, 1001))
groups = ["группа_1", "группа_2", "группа_3", "группа_4", "группа_5"]

rd.shuffle(nlist)
rd_groups = rd.choices(groups, k=1000)
rd_uniform = list(rd.randint(50, 100) for _ in range(1000))

gauss_1 = list(rd.gauss(mu=0, sigma = 1) for _ in range(1000))
gauss_2 = list(rd.gauss(mu=0, sigma = 12) for _ in range(1000))
gauss_3 = list(rd.gauss(mu=50, sigma = 9) for _ in range(1000))

In [186]:
df = pd.DataFrame({'groups': rd_groups,
                   'uniform': rd_uniform,
                   'gauss_1': gauss_1,
                   'gauss_2': gauss_2,
                   'gauss_3': gauss_3},
                    index=nlist)
df

       groups  uniform   gauss_1    gauss_2    gauss_3
476  группа_1       95  3.010291   2.156346  57.455851
315  группа_5       77  0.190277  -9.934550  62.694177
490  группа_4       96 -0.282161   9.211071  54.688895
748  группа_3       56  1.127080 -12.391793  30.192353
471  группа_5       52 -1.238270  10.938748  52.682052
..        ...      ...       ...        ...        ...
260  группа_4       57 -1.484164  -5.911598  49.330196
146  группа_4       78 -0.379041  -3.132954  60.329900
972  группа_1       52 -0.857206   0.835715  51.926114
161  группа_1       62 -0.195475   3.496498  66.310250
587  группа_5       60  0.093496  -9.164475  60.897843

[1000 rows x 5 columns]

Делаем None

In [187]:
for i in df.index:
    if i % 121 == 0:
        df.gauss_1[i] = None
    if df.gauss_2[i] % 1 > 0.95:
        df.gauss_2[i] = None

# round(5.52 - int(5.52), 2) 0.52

C:\Users\vasil\AppData\Local\Temp\ipykernel_24220\2319287492.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.gauss_2[i] = None
C:\Users\vasil\AppData\Local\Temp\ipykernel_24220\2319287492.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.gauss_1[i] = None

##### проверка на успешную замену none

In [188]:
# len(set(df.gauss_1))
# df.gauss_1[242]
df.count()

groups     1000
uniform    1000
gauss_1     992
gauss_2     948
gauss_3    1000
dtype: int64

### Удаление и замена none

In [191]:
meany = df.gauss_2.mean()
# meany
df['gauss_2'] = df['gauss_2'].fillna(meany)
df = df.drop(index= [i for i in range(121, 1000, 121)])
df.describe()

          uniform     gauss_1     gauss_2     gauss_3
count  992.000000  992.000000  992.000000  992.000000
mean    74.876008   -0.039448   -0.257729   49.444662
std     14.395724    1.052419   11.932412    9.021853
min     50.000000   -3.933254  -40.394911   19.682732
25%     62.000000   -0.745181   -8.027095   43.492984
50%     75.000000   -0.004941   -0.219773   49.654875
75%     88.000000    0.634956    7.139698   55.627863
max    100.000000    3.040902   34.218271   78.079961

In [192]:
df

       groups  uniform   gauss_1    gauss_2    gauss_3
476  группа_1       95  3.010291   2.156346  57.455851
315  группа_5       77  0.190277  -9.934550  62.694177
490  группа_4       96 -0.282161   9.211071  54.688895
748  группа_3       56  1.127080 -12.391793  30.192353
471  группа_5       52 -1.238270  10.938748  52.682052
..        ...      ...       ...        ...        ...
260  группа_4       57 -1.484164  -5.911598  49.330196
146  группа_4       78 -0.379041  -3.132954  60.329900
972  группа_1       52 -0.857206   0.835715  51.926114
161  группа_1       62 -0.195475   3.496498  66.310250
587  группа_5       60  0.093496  -9.164475  60.897843

[992 rows x 5 columns]

Всё норм, пж не трогай датафрэйм

In [193]:
round(df['gauss_2'].mean(), 4)

-0.2577

In [194]:
# df.gauss_2.std()
round(df.gauss_2.std(), 4)

11.9324

In [195]:
df['gauss_2'].describe()

count    992.000000
mean      -0.257729
std       11.932412
min      -40.394911
25%       -8.027095
50%       -0.219773
75%        7.139698
max       34.218271
Name: gauss_2, dtype: float64

In [197]:
df.groupby('groups').aggregate({'groups': 'count'})

          groups
groups
группа_1     215
группа_2     194
группа_3     184
группа_4     222
группа_5     177

In [198]:
# df.query('groups == "группа_5"').sort_index()
df[df['groups'] == "группа_5"].sort_index()

        groups  uniform   gauss_1    gauss_2    gauss_3
6     группа_5       64  0.121862 -15.706344  37.264697
7     группа_5       79  0.789998  -1.125028  56.556745
18    группа_5       80  0.390384  -3.111324  57.699977
21    группа_5       95  0.434685   6.883961  40.440062
22    группа_5       70  2.189199 -23.722245  47.054641
...        ...      ...       ...        ...        ...
971   группа_5       80 -0.745116   0.449869  47.499498
978   группа_5       50  0.712819   3.428607  44.329374
989   группа_5       60  0.148515   2.928564  38.729513
997   группа_5       60  0.765711 -16.933376  33.617591
1000  группа_5       55  0.007151   5.734309  59.909507

[177 rows x 5 columns]

In [199]:
# count_by_uniform = df.query('uniform >= 95') \
#                      .groupby('uniform') \
#                      .aggregate({'uniform':'count'})
# print(count_by_uniform,
# count_by_uniform.aggregate({'uniform':'sum'}))

# value_percentil = min(df.uniform) + (max(df.uniform) - min(df.uniform))*0.9
# print(df.query('uniform >= @value_percentil').aggregate({'uniform':'count'}),
#      value_percentil)


p = np.percentile(df['uniform'], 90)
# p
print(df.query('uniform >= @p').aggregate({'uniform':'count'}), p)

uniform    118
dtype: int64 94.0

In [200]:
round(df.groupby('groups').aggregate({'gauss_3':'median'}), 4)

          gauss_3
groups
группа_1  49.8767
группа_2  49.9905
группа_3  49.4593
группа_4  49.0695
группа_5  49.9369

In [202]:
df[df['groups'] == "группа_2"]['gauss_3'].median()

49.990528569377545

In [211]:
# df.groupby('groups').aggregate({'uniform': 'min'})
# df.groupby('groups').aggregate({'gauss_1': 'min'})#.aggregate({'gauss_1': 'max'}) 
#group_3 -2.606773
# df.query('groups == "группа_4"').groupby('groups').aggregate({'gauss_2': min})
# df.groupby('groups').aggregate({'gauss_2': min}).aggregate({'gauss_2': max})
df.query('groups == "группа_3"').aggregate({'gauss_2': min})

gauss_2   -36.18752
dtype: float64

In [207]:
gauss = (df.gauss_1 + df.gauss_2) / df.gauss_3
# df
percentil = min(gauss) + (max(gauss) - min(gauss))*0.7
np.percentile(gauss, [70,90])
# percentil
# df['gauss'].describe(percentiles=[0.7, 0.9])
# df['gauss'].count()

array([0.10641825, 0.30758193])

In [209]:
gauss.describe(percentiles=[0.7, 0.9])

count    992.000000
mean      -0.006245
std        0.258016
min       -1.029372
50%       -0.004883
70%        0.106418
90%        0.307582
max        0.855293
dtype: float64

In [205]:
gauss.isnull().count()

992