In [1]:
import pandas as pd
import numpy as np

In [3]:
movies = pd.read_csv('movie_metadata.csv')

In [4]:
movies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [5]:
budget = movies[['budget', 'duration']]

In [6]:
budget.applymap(lambda x: x + 1)

           budget  duration
0     237000001.0     179.0
1     300000001.0     170.0
2     245000001.0     149.0
3     250000001.0     165.0
4             NaN       NaN
...           ...       ...
5038          NaN      88.0
5039          NaN      44.0
5040       1401.0      77.0
5041          NaN     101.0
5042       1101.0      91.0

[5043 rows x 2 columns]

In [7]:
budget.apply(np.mean, axis=0)

budget      3.975262e+07
duration    1.072011e+02
dtype: float64

In [8]:
budget.apply(lambda x: x+1)

           budget  duration
0     237000001.0     179.0
1     300000001.0     170.0
2     245000001.0     149.0
3     250000001.0     165.0
4             NaN       NaN
...           ...       ...
5038          NaN      88.0
5039          NaN      44.0
5040       1401.0      77.0
5041          NaN     101.0
5042       1101.0      91.0

[5043 rows x 2 columns]

In [9]:
budget.mean() + 1

budget      3.975262e+07
duration    1.082011e+02
dtype: float64

In [10]:
budget.values

array([[2.37e+08, 1.78e+02],
       [3.00e+08, 1.69e+02],
       [2.45e+08, 1.48e+02],
       ...,
       [1.40e+03, 7.60e+01],
       [     nan, 1.00e+02],
       [1.10e+03, 9.00e+01]])

In [14]:
np.mean(budget['budget'].dropna().values)

39752620.436387606

In [25]:
df = pd.read_csv('https://stepik.org/media/attachments/course/4852/iris.csv').drop('Unnamed: 0', axis=1)

In [26]:
df.head()

   sepal length  sepal width  petal length  petal width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [33]:
%%timeit
df.apply(np.mean)

1.33 ms Â± 13 Âµs per loop (mean Â± std. dev. of 7 runs, 1,000 loops each)

In [34]:
%%timeit
df.apply('mean')

800 Âµs Â± 50.3 Âµs per loop (mean Â± std. dev. of 7 runs, 1,000 loops each)

In [36]:
%%timeit
df.describe().loc['mean']

15.8 ms Â± 750 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)

In [35]:
%%timeit
df.mean(axis=0)

681 Âµs Â± 5.3 Âµs per loop (mean Â± std. dev. of 7 runs, 1,000 loops each)